[Unit]
Description=Gentoo Build Server
After=network.target

[Service]
Type=fork
PIDFile=/run/gentoo-build-server/gentoo-build-server.pid
ExecStart=/usr/sbin/gentoo-build-server
ExecReload=/bin/kill -HUP $MAINPID
User=portage
Group=portage

[Install]
WantedBy=multi-user.target

