[Unit]
Description=Gentoo Build Server
After=network.target

[Service]
Type=fork
PIDFile=/run/syncupd/syncupd.pid
ExecStart=/usr/sbin/syncupd
ExecReload=/bin/kill -HUP $MAINPID
User=portage
Group=portage

[Install]
WantedBy=multi-user.target

