[Unit]
Description=Gentoo Build Server
After=network.target

[Service]
Type=fork
PIDFile=/run/sync-up-daemon/sync-up-daemon.pid
ExecStart=/usr/sbin/sync-up-daemon
ExecReload=/bin/kill -HUP $MAINPID
User=portage
Group=portage

[Install]
WantedBy=multi-user.target

