[Unit]
Description=syncupd
After=network.target

[Service]
Type=fork
PIDFile=/run/syncupd/syncupd.pid
ExecStart=/usr/sbin/syncupd
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target

